.Container {
  width: 90%;
  max-height: 80vh;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px;
  //   background-color: white;
  box-shadow: 0px 8px 23.2px 0px rgba(0, 0, 0, 0.09);
  color: black;
  position: fixed;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
