@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

p {
  font-size: 14px;
}
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #667085;
}
